name: Tests
on:
  push:
    branches:
      - "*"
    tags:
      - v*
  workflow_call:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
      with:
        egress-policy: audit

    - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
    - name: Get go version from go.mod
      run: |
        echo "GO_VERSION=$(grep '^go ' go.mod | cut -d " " -f 2)" >> $GITHUB_ENV
    - uses: actions/setup-go@be3c94b385c4f180051c996d336f57a34c397495 # v3.6.1
      with:
        go-version: ${{ env.GO_VERSION }}
    - name: Install dependencies
      run: |
        echo "CWD=$(pwd)" >> $GITHUB_ENV
        git clone https://github.com/aerospike/schemas.git
    - name: Generate Mocks
      run: |
        make mocks
    - name: Test with go
      env:
        TEST_SCHEMA_DIR: ${{ env.CWD }}/schemas/json/aerospike
      run: |
        make coverage
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
      with:
        token: ${{secrets.CODECOV_TOKEN}}
        files: coverage.cov
        verbose: false
