name: Tests
on:
  push:
    branches:
      - "*"
    tags:
      - v*
  workflow_call:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
      with:
        egress-policy: audit

    - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
    - name: Get go version from go.mod
      run: |
        echo "GO_VERSION=$(grep '^go ' go.mod | cut -d " " -f 2)" >> $GITHUB_ENV
    - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version: ${{ env.GO_VERSION }}
    - name: Install dependencies
      run: |
        echo "CWD=$(pwd)" >> $GITHUB_ENV
        git clone https://github.com/aerospike/schemas.git
    - name: Generate Mocks
      run: |
        make mocks
    - name: Test with go
      env:
        TEST_SCHEMA_DIR: ${{ env.CWD }}/schemas/json/aerospike
      run: |
        make coverage
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@ab904c41d6ece82784817410c45d8b8c02684457 # v3.1.6
      with:
        token: ${{secrets.CODECOV_TOKEN}}
        files: coverage.cov
        verbose: false
